{% extends 'shared_layout/base.html' %}

{% block title %}
Piste
{% endblock %}
{% load static %} 

{% block contents %}
<div class="d-flex justify-content-left mb-3">
  <a href="{% url 'pistes' %}{% if request.GET.page %}?page={{ request.GET.page }}{% endif %}" class="text-decoration-none text-dark d-flex align-items-center" style="color: rgba(222, 226, 230, 0.8); letter-spacing: 1.2px;">
    <i class="fas fa-caret-left me-2"></i>
    <p class="lead m-0 p-0">retour</p>
  </a>
</div>
<div class="col-md-6 col-sm-6 mb-2">
  <h4 class="text-dark mb-3">{% if piste %}Modification du {{ piste.object }}{% else %}Création d'une piste{% endif %}</h4>
</div>

<form method="POST">
  {% csrf_token %}
  <div class="row mb-2">
    <div class="col-md-6 col-sm-6 mb-2">
      <div class="card card-body" style="background: rgba(243, 243, 243, 0.3); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(3px); -webkit-backdrop-filter: blur(3px);  border: 1px solid rgba(159, 97, 163, 0);">
        <div class="row mb-4">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="object">Objet</label>
                {{ form.object }}
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="company_name">Nom de la société</label>
                {{ form.company_name }}
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="client">Client</label>
                {{ form.client }}
                {{ form.client_id }}
                <div id="suggestions" class="sugdiv"></div>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="address_street">Adresse</label>
                {{ form.address_street }}
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                {{ form.address_street2 }}
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
              {{ form.address_willaya }}
              {{ form.address_willaya_id }}
              <div id="suggestions" class="sugdiv"></div>
            </div>
          </div>
        </div>
        <!--<div class="row mb-1">
          <div class="col-md-4 col-sm-6">
            <div class="form-outline">
              {{ form.address_willaya }}
              {{ form.address_willaya_id }}
              <div id="suggestions" class="sugdiv"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-outline">
                {{ form.address_city }}
                {{ form.address_city_id }}
                <div id="suggestions" class="sugdiv"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="form-outline">
                {{ form.address_zip }}
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                {{ form.address_country }}
                {{ form.address_country_id }}
                <div id="suggestions" class="sugdiv"></div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="card card-body" style="background: rgba(243, 243, 243, 0.3); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(3px); -webkit-backdrop-filter: blur(3px);  border: 1px solid rgba(159, 97, 163, 0);">
        <div class="row mb-1">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="contact_name">Nom du contact</label>
                {{ form.contact_name }}
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="email">Courriel</label>
                {{ form.email }}
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="function">Fonction</label>
                {{ form.function }}
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="phone">Téléphone</label>
                {{ form.phone }}
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="mobile_phone">Téléphone mobile</label>
                {{ form.mobile_phone }}
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="fax">Fax</label>
                {{ form.fax }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-md-12 col-sm-12 mb-2">
      <div class="card card-body" style="background: rgba(243, 243, 243, 0.3); border-radius: 16px; box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(3px); -webkit-backdrop-filter: blur(3px);  border: 1px solid rgba(159, 97, 163, 0);">
        <div class="row mb-2">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="comm_team">Equipe commerciale</label>
                {{ form.comm_team }}
                {{ form.comm_team_id }}
                <div id="suggestions" class="sugdiv"></div>
            </div>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="seller">Vendeur</label>
                {{ form.seller }}
                {{ form.seller_id }}
                <div id="suggestions" class="sugdiv"></div>
            </div>
          </div>
        </div>
        <!--<div class="row mb-2">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="company">Société</label>
                {{ form.company }}
                {{ form.company_id }}
                <div id="suggestions" class="sugdiv"></div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
              <label class="form-label labelCustom" for="canal">Canal</label>
              {{ form.canal }}
              {{ form.canal_id }}
              <div id="suggestions" class="sugdiv"></div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label labelCustom" for="evenement">Evenement</label>
                {{ form.evenement }}
                {{ form.evenement_id }}
                <div id="suggestions" class="sugdiv"></div>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center text-center">
    <div>
      <button type="submit" class="btn btn-dark btn-block customSaveButton">{% if form.instance.pk %}Sauvegarder les modifications{% else %}Créer{% endif %}</button>

    </div>
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
  #suggestions {
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    max-height: 200px;
    overflow-y: scroll;
    display: none;
  }
  
  .suggestion {
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .suggestion:hover {
    background-color: #eee;
  }
  
  #suggestions.loading {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
  }
  
  #suggestions.loading .spinner {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-top: 2px solid #333;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
</style>
<script>
  
  // const setValue = (e, selectedId, selectedName, localite_code) => {
  const setValue = (e, selectedId, selectedName) => {
      var suggestions = e.parentNode;
      var fieldIdInput = suggestions.previousElementSibling;
      var fieldInput = fieldIdInput.previousElementSibling;

      if (fieldIdInput && fieldInput && suggestions) {
        fieldIdInput.value = selectedId;
        fieldInput.value = selectedName;
        // if(localite_code != '/'){
        //   $('#id_address_zip').val(localite_code);
        // }
        suggestions.innerHTML = '';
        suggestions.style.display = 'none';
      }
  };

  $(document).ready(function() {
    $('.search-input').keyup(function() {
      var suggestions = $(this).siblings('#suggestions');
      var searchInput = $(this);
      var searchInputID = $(this).siblings('.search-input-id');
      searchInputID.val('');
      var comm_team_id = -1;
      if(searchInput.attr('name') == 'seller' && $('#id_comm_team_id').val()){
        comm_team_id = $('#id_comm_team_id').val();
      }
      if (searchInput.val()) {
        suggestions.addClass('loading');
        $.ajax({url: '{% url "live_search" %}', type: 'GET', data: { 'search_term': searchInput.val(), 'search_for': searchInput.attr('name'), 'comm_team_id': comm_team_id }, dataType: 'json',
          success: function(response) {
            var suggestionsHTML = '';
            if (response.length > 0) {
              for (var i = 0; i < response.length; i++) {
                var result = response[i];
                // suggestionsHTML += `<div class="suggestion" onClick="setValue(this, ${result.id}, '${result.name}', '${result.localite_code}')">${result.name}</div>`;
                suggestionsHTML += `<div class="suggestion" onClick="setValue(this, ${result.id}, '${result.name}')">${result.name}</div>`;
              }
              suggestions.html(suggestionsHTML);
              suggestions.removeClass('loading');
              suggestions.show();
            } else {
              suggestionsHTML = '<p>Aucune suggestion trouvée</p>';
              suggestions.html(suggestionsHTML);
              suggestions.removeClass('loading');
              suggestions.show();
            }
          }
        });
      } else {
        suggestions.empty();
        suggestions.hide();
      }
    });
  });
  
</script>

{% endblock %}
