<!DOCTYPE html>
{% extends 'shared_layout/base.html' %}

{%block title%}
Se connecter
{%endblock title%}

{%block contents%}
{%if error%}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{%endif%}
<form method="post">
    {%csrf_token%}
    {%include 'users/form_snippets.html' with form=form%}                
    <input class="btn btn-primary" type="submit" value="Se connecter">
</form>
<div class="my-2">
    <small class="text-muted">
        Mot de passe oublié ? <a class="ml-2" href="{%url 'users:forgot_password'%}">Restaurer le mot de passe</a>
    </small>
</div>

<div class="my-2">
    <small class="text-muted">
        Pas de compte ? <a class="ml-2" href="{%url 'users:register'%}">S'inscrire</a>
    </small>
</div>
{%endblock contents%}