<!DOCTYPE html> {% extends 'shared_layout/base.html' %} 
{%block title%}Crée un nouveau mot de passe{%endblock title%} 
{%block contents%} 
{%if error%}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{%endif%}
<div class="row">
    <div class="col-12 text-center">
        <h5 class="m-2">Réinitialiser le nouveau mot de passe</h5>
        <p class="text-muted">
            Veuillez saisir votre nouveau mot de passe deux fois afin que nous puissions vérifier que vous l'avez saisi correctement.
        </p>
        <form method="post">
            {%csrf_token%} {%include 'users/form_snippets.html' with center=True form=form%}
            <input class="btn btn-primary" type="submit" value="Changez votre mot de passe">
        </form>
    </div>
</div>
{%endblock contents%}